<main class="main-paddings">
    <header>
        <h1>Content Gallery</h1>
    </header>

    <hr>

    <section>
        <% if logged_in? %>
            <div>
                <p><a href="/contents/new">Add Content</a></p>
            </div>
        <% end %>

        <div class="content-display-gallery">
            <% if count_all_content() == 0 %>
                <p>There is no content yet, please add some content.</p>
            <% else %>
                <% three_row = 0 %>
                <% contents.each do |content| %>
                    <% if three_row == 0 %>
                        <section class="content-display-gallery-content-row">
                    <% end %>

                    <% three_row += 1 %>

                    <section class="content-display-gallery-content-column">
                        <% if content['is_image'] == 't' && content['is_html'] == 'f' %>
                            <%= transform_images_limit_by_width(content['content'], content['title'], 356) %>
                        <% elsif content['is_image'] == 'f' && content['is_html'] == 't' %>
                            <%= content['content'] %>
                            <p>This should be in HTML</p>
                        <% else %>
                            <p><%= truncate_content_string(content['content'], 360) %></p>
                        <% end %>

                        <p><a href="/contents/view/<%= content['id'] %>"><%= content['title'] %></a>
                        <br>
                        by <a href="/profiles/<%= content['user_id'] %>"><%= find_user_by_id(content['user_id'])['username'] %></a></p>
                    </section>
                    
                    <% if three_row == 3 %>
                        </section>
                        <% three_row = 0 %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </section>
</main>