<main>
    <div class="view">
        <section class="view-content">
            <section class="view-content-display">
                <% if content['is_image'] == 't' %>
                    <%= transform_images_limit_by_width(content['content'], content['title'], 1024) %>
                <% else %>
                    <p class="view-content-display-text"><%= content['content'] %></p>
                <% end %>
            </section>

            <section class="view-content-description">
                <div class="view-author-details">
                    <h2><%= content['title'] %></h2>
                    <p>by <a href="/users/<% content['user_id'] %>"><%= find_user_by_id(content['user_id'])['username'] %></a> | posted on: <%= content['post_timestamp'].to_s.split('.')[0] %></p>
                </div>

                <hr>

                <div class="view-content-details">
                    <p><%= content['content_description'] %></p>
                </div>
            </section>
        </section>
        <section class="view-sidebar">
            <% if logged_in? %>
                <form action="">
                    <button class="view-sidebar-fav-btn">&#9733; Favourite</button>
                </form>

                <br>
            <% end %>
            <p><a href="">Download image</a></p>

            <% unless logged_in? && session['user_id'] == content['user_id'] %>
                <hr>
                <h3>Content Editor</h3>
                <%# <p><a href="/contents/<%= content['id'] % > /edit">Edit</a></p> %>
                <div class="view-content-creator-controls">
                    <form action="/contents/<%= content['id'] %>/edit" method="POST">
                        <button>Edit</button>
                    </form>
                    <form action="/contents/<%= content['id'] %>" method="POST">
                        <input type="hidden" name="_method" value="delete">
                        <button>Delete</button>
                    </form>
                </div>
            <% end %>
        </section>
    </div>
</main>